<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>RaspiRack admin</title>

    <style>
        .navbar { margin-bottom: 20px !important; }
    </style>
  </head>
  <body>
    <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">RaspiRack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>-->
        </ul>
        </div>
    </nav>
    </header>

    <div class="container">
        <div class="row">
            
            
            <!-- Panel: Initialization -->
            <div class="col-md-12">
                <h2>You NAS needs the encryption password(s)</h2>
                <p>To finish the NAS initialization your NAS needs encryption pass-phrases (passwords) to unlock the encrypted drives. This is security messure so nobody can see your data after the power is lost.</p>

                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Password for <strong>ssd500</strong> drive</label>
                        <input type="password_ssd500" class="form-control" aria-describedby="emailHelp" placeholder="Password for ss500">
                    </div>
                    <button type="submit" class="btn btn-primary">Mount the drives</button>
                </form>
            </div>
            <!-- End Panel: Shares -->
            
            
            <!-- Panel: Users -->
            <!-- <div class="col-md-5">
                <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Cx</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Username</th>
                        <td>cx</td>
                    </tr>
                    <tr>
                        <th scope="row">Syncthing</th>
                        <td>Enabled</td>
                    </tr>
                </tbody>
                </table>
            </div> -->
            <!-- End Panel: Users -->
            <!-- Panel: Shares -->
            <!-- <div class="col-md-5">
                <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Photos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Share name</th>
                        <td>photos</td>
                    </tr>
                    <tr>
                        <th scope="row">Drive</th>
                        <td>0</td>
                    </tr>
                </tbody>
                </table>
            </div> -->
            <!-- End Panel: Shares -->
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>