<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users | RaspiRack NAS interface</title>
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link rel="stylesheet" href="/static/css/app.css">
  <link rel="stylesheet" href="/static/foundation-icons/foundation-icons.css">
</head>

<body>

  <div class="row columns">
    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
        {{ if eq . "unlock" }}
          <li {{ if eq . "unlock" }}class="is-active"{{ end }}><a href="/">Unlock</a></li>
        {{ else }}
          <li {{ if eq . "users" }}class="is-active"{{ end }}><a href="/">Users</a></li>
          <li {{ if eq . "volumes" }}class="is-active"{{ end }}><a href="#">Volumes</a></li>
          <li {{ if eq . "drives" }}class="is-active"{{ end }}><a href="#">Drives</a></li>
          <li {{ if eq . "services" }}class="is-active"{{ end }}><a href="#">Services</a></li>
          <li {{ if eq . "settings" }}class="is-active"{{ end }}><a href="#">Settings</a></li>
          <li {{ if eq . "config" }}class="is-active"{{ end }}><a href="/config">Config</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
      {{ if eq . "users" }}
        {{ template "users" . }}
      {{ end }}
      {{ if eq . "config" }}
        {{ template "config" . }}
      {{ end }}
      {{ if eq . "unlock" }}
        
      {{ end }}
      </div>
    </div>
  </div>

  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/vendor/what-input.js"></script>
  <script src="/static/js/vendor/foundation.js"></script>
  <script src="/static/js/app.js"></script>
</body>

</html>
