---

- name: Install samba related packages
  apt:
    name:
      - samba
      - samba-common-bin
    state: present
    update_cache: yes
  environment:
    RUNLEVEL: 1

- name: Samba service
  systemd:
      name: smbd
      enabled: yes
      state: started

- name: Samba config file
  template:
      dest: /etc/samba/smb.conf
      src: smb.conf
  notify:
    - samba reload config

- name: Set samba and system passwords
  command: smbpasswd -a -s {{ item.name }}
  args:
    stdin: "{{ item.password }}\n{{ item.password }}"
  with_items: "{{ users }}"

- name: directories for shares
  file:
      path: /mnt/{{ drives[item.drive].name }}/{{ item.name }}
      group: "{{ general.shared_group }}"
      state: directory
      mode: 0770
      owner: root
  loop: "{{ shares }}"