---
#docker run -e PUID=1001 -e PGID=1001 -v /mnt/ssd500/homes/cx/synced:/var/syncthing -p 8384:8384 -p 22000:22000 -p 21027:21027/udp syncthing/syncthing

- name: Download syncthing
  unarchive:
      src: https://github.com/syncthing/syncthing/releases/download/v{{ syncthing_version }}/syncthing-linux-arm-v{{ syncthing_version }}.tar.gz
      dest: /usr/src
      remote_src: yes

- name: Copy syncthing binary
  copy:
      src: /usr/src/syncthing-linux-arm-v{{ syncthing_version }}/syncthing
      dest: /usr/local/bin/syncthing
      remote_src: yes
      mode: 0755

- name: Copy syncthing service file
  copy:
      src: /usr/src/syncthing-linux-arm-v{{ syncthing_version }}/etc/linux-systemd/system/{{ item }}
      dest: /etc/systemd/system/
      remote_src: yes
  loop:
  - syncthing@.service
  - syncthing-resume.service

- name: Update the main service file
  lineinfile:
      path: /etc/systemd/system/syncthing@.service
      regexp: "^ExecStart="
      line: "ExecStart=/usr/local/bin/syncthing -no-browser -no-restart -logflags=0"

- name: Enable syncthing services
  systemd:
      name: syncthing@{{ item.name }}
      enabled: yes
      daemon_reload: yes
      state: restarted
  loop: "{{ users }}"
  when: item.services.syncthing.enabled

- name: Disable syncthing services
  systemd:
      name: syncthing@{{ item.name }}
      enabled: no
      daemon_reload: yes
      state: stopped
  loop: "{{ users }}"
  when: not item.services.syncthing.enabled

# TODO: Doesn't work for some reason, fix it.
# - name: Wait for config being created
#   loop: "{{ users }}"
#   wait_for:
#     path: /mnt/{{ drives[general.homes_drive].name }}/homes/{{ item.name }}/.config/syncthing/config.xml
#     state: present

- name: Set GUI address
  lineinfile:
      path: /mnt/{{ drives[general.homes_drive].name }}/homes/{{ item.name }}/.config/syncthing/config.xml
      state: present
      regexp: "<address>.*</address>"
      line: "        <address>0.0.0.0:{{ 8384 + idx }}</address>"
  loop: "{{ users }}"
  loop_control:
    index_var: idx
  when: item.services.syncthing.enabled

- name: Set password
  lineinfile:
      path: /mnt/{{ drives[general.homes_drive].name }}/homes/{{ item.name }}/.config/syncthing/config.xml
      state: present
      regexp: "<password>.*</password>"
      line: "        <password>{{ item.password_hash }}</password>"
  loop: "{{ users }}"
  when: item.services.syncthing.enabled

- name: Set username
  lineinfile:
      path: /mnt/{{ drives[general.homes_drive].name }}/homes/{{ item.name }}/.config/syncthing/config.xml
      state: present
      regexp: "<user>.*</user>"
      line: "        <user>{{ item.name }}</user>"
  loop: "{{ users }}"
  when: item.services.syncthing.enabled

- name: Enable syncthing services
  systemd:
      name: syncthing@{{ item.name }}
      enabled: yes
      daemon_reload: yes
      state: restarted
  loop: "{{ users }}"
  when: item.services.syncthing.enabled